body { 
    padding:0;
    margin:0;
    border-collapse: collapse;
    background: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative; /*REQUIRED Sets up positioning for your footer*/
}

.body-wrap { 
    min-height: 100%;
    margin: 0 auto -50px;
}

header {
    font-size: 28px;
    background: #9ACD32;
}

header, section {
    padding:20px;
}

img {
    margin:0 25px 25px;
    width:366px;
}

.firstLetter {
    font-size:24px; 
    font-weight:700;
}

.footer, .push {
    height: 50px;
}

.footer {
    width:100%;
    padding:20px 0;
     
    background: #5C8803;
    color:#eee;
    font-size:18px;
     
    text-align:center;
     
    bottom:0;          /*to the bottom of the body/page*/
    left:0;            /*and to the left of the body/page.*/
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}